#header{
    width: 100%;
    text-align: right;
    background-color: #005ed3;
    color: white;
    height: 8vh;
}

.headerEle{
    display: inline;
}

.headerLogo{
    margin-top: 1vh;
    margin-left: 20px;
    float: left;
    height: 6vh;
}

.dashboard-main{
    display: flex;
    height: 92vh;
    overflow: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.nav-column {
    background-color: #333336;
    overflow: hidden;
  }

.navButton{
    padding: 0px;
    margin: 15px;
    border: none;
    outline: none;
    background: none;
    color: #C8CBCC;
    transition-duration: 0.25s;
}

.navButton:hover{
    opacity: 30%;
}

.navImage{
    width: 100%;
}

.navLabel{
    margin:0px;
}


  
  
  .content-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

.devices-main{
    display: flex;
    overflow: hidden;
    height: 92vh;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.detail-column{
    background-color: #f4f4f4;
    position: relative;
}

.device-column{
    padding-left: 0 !important;
    padding-right: 0 !important;
    vertical-align: top;
}

.device-entry{
    width:100%;
    vertical-align: top;
    padding: 10px;
    border-bottom: #f4f4f4 5px solid;
    transition-duration: 0.3s;
}

.device-entry-selected{
    background-color: #f4f4f4;
}

.device-entry:hover{
    background-color: #f4f4f4;
}

.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .modal-content {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
  }

  #claimButton{
      display: block;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
  }

  #map-div{
    width: 100%;
      height: 60vh;
      position: absolute;
      bottom: 0;
  }

  .circle{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }

  .online{
    background-color: #005ed3;
  }

  .offline{
    background-color: #717273;
  }

  .deviceName{
      display: inline-block;
      margin: 0px;
  }
